
$black:#DDDDDD;
.menu-projects{
  height: 30vh;
  border-bottom: 2px lighten($black, 0.5%) solid;
}
.grid-container-project{
  height: 115vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .grid-project{
      height: 50vh;
      width: 35em;
      &:hover{
        filter:grayscale(0.6);
      }
    }
  }
  .grid-project{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 37em;
  }
}
