.grid-container-main{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  .grid-container{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 80%;
    flex-wrap: wrap;
    .row{
      display: flex;
      width: 100%;
      justify-content: space-between;
      .grid{

      }
    }
  }
}
@media all and (max-device-width: 320px){

}
@media all and (max-device-width: 360px){


}
